.link-item {
  width: 47%;
  flex-grow: 1;
  margin: 0;
}
.team-card {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 12px;
  background-color: #ffffff33;
  opacity: 0.9;
  padding: 8px;
  aspect-ratio: 1.7;
}
.card-team-logo {
  width: 30%;
  margin: 0;
}
.card-team-name {
  width: 70%;
  padding-left: 12px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
}
@media (min-width: 768px) {
  .card-team-name {
    font-size: 20px;
  }
}
